name: flutter_application_1
description: "Expense Tracker with Income & Monthly Insights"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  intl: ^0.19.0               # for date formatting (DateFormat) and parsing

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  # Uncomment when you add images/icons later
  # assets:
  #   - assets/images/